#!/bin/bash
# Example Invocation: nohup load_db.sh &

nohup ./bin/ycsb load mongodb \
    -p mongodb.url="mongodb://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:27017/ycsb" \
    -s -P ./workloads/workloada \
    -threads {{ ycsb_load_threads }} > load_db_result.txt &